# Requisitos principales

import tkinter as tk                     # Interfaz gráfica principal
from tkinter import ttk, messagebox, filedialog  # Widgets avanzados, mensajes emergentes y diálogos de archivo

import ipaddress                         # Validación y manejo de direcciones IP y subredes
import socket                            # Escaneo de puertos y conexiones TCP/IP
import subprocess                        # Ejecutar comandos del sistema, como 'ping'
import platform                          # Detectar sistema operativo para adaptar comandos

from concurrent.futures import ThreadPoolExecutor, as_completed, FIRST_COMPLETED  
# Ejecución concurrente para escaneos multihilo

import time                              # Delays y medición de tiempo
from datetime import datetime            # Timestamps para los logs y reportes
import threading                         # Gestión de hilos manuales para tareas en paralelo

# Todos estos módulos vienen con la instalación estándar de Python (no necesitas instalar nada extra con pip)
